body{
	font-size:16px;
	color:#fff;
	background-color:#581845;
	font-family:Times;
}
#header-nav{
	background-color: yellow;
	border-radius: 0;
	border:0;
}
#header-nav button{
	margin-top: 20px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #111114;
}
.navbar-collapse{
	border-top: 0;
}
.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color:#75075B;
    font-family: 'DejaVu Sans Mono,', monospace;
    font-weight: bolder;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

#nav-list {
    background-color:#080006;
}

#nav-list a {
    text-align: center;
    font-weight: bolder;
    color: #fff;
    font-size: 1.0em;
}

#nav-list a:hover {
    background: blue;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid blue;
}
#top{
width:100%;
color:#fff222;
}
#top h2:hover{
color:grey;
}

#top h2{
	font-weight: bolder;
	font-size:2.1em;
	margin-top: 25px;
	margin-bottom:25px;

}
#top h3{
	font-weight: bolder;
	font-size:1.8em;
	margin-top: 20px;
	margin-bottom:20px;
	color:blue;

}
section:hover{
background-color: white;
}
p{
	font-family: cursive;
	color:black;
}
/*.panel-footer{
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #222;
	border-top: 0;
}*/
#chicken, #beef, #sushi {
    width: 100%;
    padding: 10px;
    background-color:#D3B0AF;
    margin-bottom: 60px;
    box-shadow: 0 0 40px #B9A1A0;
}