*{
	margin:0;
	padding: 0; 
}

	.home{
		width: 1120px;
		margin: auto;
	}
	body{

		height:100vh;
		margin-top: 10px;
		background-size: cover;	
		background-position: center;

	}
	.nav-area{
		float: right;
		list-style: none;
		margin-top: 30px;
	}
	.nav-area li{
		display: inline-block;

	}
 	.nav-area li a{
		color: #000;
		text-decoration: none;
		padding: 5px 10px;
		font-family: poppins;
		font-size: 20px;

	}
	.nav-area li a:hover{
		background:#fff;
		color:#3ad;
		border-radius: 10px;
	}
	.logo img{
		margin-top: 20px;
		width:200px;
		float:left;
		height: 50px;
		border-radius: 100%;
	}
	.welcome{
		position: absolute;
		width: 600px;
		height: 300px;
		margin:20% 28%;
		text-align: center;
	}
	.welcome h1{
		text-align: center;
		color:grey;
		text-transform: uppercase;
		font-size: 60px;
	}
	.welcome a{
		color:#0C090A;
		border:2px solid #fff;
		border-radius: 7px;
		padding: 10px 25px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 18px;
		margin-top: 20px;
		display: inline-block;
	}
	.welcome a:hover{
		background: #ffffe0;
		color:#00a;
	}
